Package: {{ package }}
Version: {{ version }}
{%- if license %}
License: {{ license }}
{%- endif %}
{%- if vendor %}
Vendor: {{ vendor }}
{%- endif %}
Architecture: {{ architecture }}
Maintainer: {{ maintainer }}
{%- for key in relations %}
{{ key }}: {{ relations[key] }}
{%- endfor %}
Installed-Size: {{ installed_size }}
{%- if homepage %}
Homepage: {{ homepage }}
{%- endif %}
Section: {{ section }}
Description: {{ description }}
Filename: {{ filename }}
Size: {{ size }}
SHA1: {{ sha1 }}
SHA256: {{ sha256 }}
MD5sum: {{ md5sum }}
{%- for key in extra %}
{{ key }}: {{ extra[key] }}
{%- endfor %}
